<div class="container-fluid" id="main_container">

		
		<div class="col-md-10">
		<!--Body content-->
		<dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" max-size="7"></dir-pagination-controls>
			<div ng-controller="PlayerListCtrl">
				<ul class="phones">
					<li dir-paginate="player in players |  filter:query | filter: query | orderBy:orderProp | itemsPerPage: 25"
					class="thumbnail phone-listing">
						<div class="ranking">
							<a href="#/players/{{player.rank}}">{{player.rank}}</a>
						</div>
						<div class="info">
							<a href="#/players/{{player.rank}}">{{player.name}}</a>
							<p>{{player.salary|addcomma}}</p>
							<p>{{player.team}}</p>
						</div>
						<position Guard Forward Center>Player</position>
					</li>
				<dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" max-size="7"></dir-pagination-controls>
				</ul>
			</div>
		</div>
	</div>
</div>