<div class="container-fluid" id="main_container">
	<div class="col-md-10">
		<!--Body content-->
		<dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" max-size="7"></dir-pagination-controls>
			<div ng-controller="PlayerListCtrl">
				<table class="table table-striped">
				<thead>
					<tr>
						<span>Search:</span>
							<input ng-model="query.name">
						<span>Sort by:</span>
						<select ng-model="orderProp">
			  				<option value="name">Alphabetical</option>
			  				<option value="2015" selected="selected">Highest Paid</option>
						</select>
					</tr>
					<tr>
						<th>#</th>
						<th>Player</th>
						<th>2014-2015 Salary</th>
						<th>Team</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="player in players |  filter:query | filter: query | orderBy:orderProp | itemsPerPage: 25">
						<td>
							<a href="#/players/{{player.name}}">{{player.rank}}</a>
						</td>
						<td>
							<a href="#/players/{{player.rank}}">{{player.name}}</a>
						</td>
						<td>
							<p>{{player.salary|addcomma}}</p>
						</td>
						<td>
							<p>{{player.team}}</p>
						</td>
					</tr>
				</tbody>
		</div>
	</div>