<div class="container-fluid" id="main_container">
	<div class="row">
		<div class="col-md-10">
		<!--Body content-->
		<div class="salary_cap">
			<h2>2014-2015 Salary Cap: 63,065,000</h2>
		</div>
			<ul class="phones">
				<li ng-repeat="team in teams | filter:query | orderBy:orderProp "
				class="thumbnail phone-listing">
					<div class="ranking">
						<a href="#/players/{{team.rank}}">{{team.rank}}</a>
					</div>
					<div class="info">
						<a href="#/teams/{{team.rank}}">{{team.name}}</a>

						<div ng-controller="TeamCtrl" class="salaries">
							<p>2014-2015 Salary: <p class="comma_salary">{{ team.2015|addcomma}} </p></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
