<div class="container-fluid" id="main_container">
	<div class="row">
		<div class="col-md-10">
		<!--Body content-->
		<div class="salary_cap">
			<h2>2014-2015 Salary Cap: 63,065,000</h2>
		</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<span>Search:</span>
							<input ng-model="query.name">
						<span>Sort by:</span>
						<select ng-model="orderProp">
			  				<option value="name">Alphabetical</option>
			  				<option value="salary" selected>Highest Paid</option>
						</select>
					</tr>
					<tr>
						<th>#</th>
						<th>Team</th>
						<th>2014-2015 Salary</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in teams | filter:query | orderBy:orderProp">
						<td>
							<a href="#/players/{{team.rank}}">{{team.rank}}</a>
						</td>
						<td>
							<a href="#/teams/{{team.rank}}">{{team.name}}</a>
						</td>
						<td ng-controller="TeamCtrl" >
							{{team.2015|addcomma}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
