<div class="container-fluid" id="main_container">
	<div class="row">
		<div class="col-md-2">
		<!--Sidebar content-->
		</div>
		<div class="col-md-10">
		<!--Body content-->
			<div ng-controller="PhoneListCtrl">
				<ul class="phones">
					<li dir-paginate="player in players |  filter:query | orderBy:orderProp | itemsPerPage: 15"
					class="thumbnail phone-listing">
						<a href="#/players/{{player.rank}}" class="thumb">{{player.rank}}</a>
						<a href="#/players/{{player.rank}}">{{player.name}}</a>
						<p>{{player.salary}}</p>
						<p>{{player.team}}</p>
					</li>
				<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
				</ul>
			</div>
		</div>
	</div>
</div>