<div class="container-fluid" id="main_container">
	<div class="row">
		<div class="col-md-2">
		<!--Sidebar content-->
		</div>
		<div class="col-md-10">
		<!--Body content-->
			<ul class="phones">
				<li ng-repeat="team in teams | filter:query | orderBy:orderProp"
				class="thumbnail phone-listing">
				<a href="#/teams/{{team.FIELD1}}" class="thumb"><img class="profile" ng-src="{{team.imageUrl}}"></a>
				<a href="#/teams/{{team.FIELD1}}">{{team.FIELD2}}</a>
				<div class="salaries">
					<p>{{team.salary_2015}}</p>
					<p>{{team.salary_2016}}</p>
					<p>{{team.salary_2017}}</p>
					<p>{{team.salary_2018}}</p>
					<p>{{team.salary_2019}}</p>
				</div>
				</li>
			</ul>
		</div>
	</div>
</div>